// Colors
//
$theme: #BF616A;
$text: #ECEFF4;
$light-grey: #3B4252;
$dark-grey: #2E3440;
$highlight-grey: #5E81AC;
$midnightblue: #2E3440;

//@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Code+Pro&display=swap');

// Fonts
//
$fonts: 'Noto Sans', sans-serif;
$code-fonts: 'Source Code Pro', monospace;

// Mixins
//
@mixin dimmed {
  opacity: .6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 $theme;
    transition-property: box-shadow;
    transition-duration: .1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
    }
  }
}
